openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://localhost:8080/api
    description: Generated server url
paths:
  /auth/reset-password/{username}:
    put:
      tags:
        - auth-controller
      operationId: resetPassword
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicResponse'
  /auth/register:
    post:
      tags:
        - auth-controller
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Already registered
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicError'
  /auth/login:
    post:
      tags:
        - auth-controller
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid credentials
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicError'
  /auth/me:
    get:
      tags:
        - auth-controller
      operationId: validateToken
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/MeResponse'
        '400':
          description: Invalid token
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: Banned token
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicError'
  /auth/unregister:
    delete:
      tags:
        - auth-controller
      operationId: unregister
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicResponse'
        '400':
          description: Invalid credentials
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/BasicError'
  /auth/logout:
    delete:
      tags:
        - auth-controller
      operationId: logout
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    BasicResponse:
      type: object
      properties:
        message:
          type: string
    BasicError:
      type: object
      properties:
        error:
          type: string
    RegisterRequest:
      required:
        - password
        - student
        - username
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        student:
          type: integer
          format: int64
    AuthRequest:
      required:
        - password
        - username
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    TokenResponse:
      type: object
      properties:
        message:
          type: string
        token:
          type: string
    MeResponse:
      type: object
      properties:
        ok:
          type: boolean
        studentNumber:
          type: integer
          format: int64